{% extends 'base.html' %}

{% block title %}Atualizar Coordenadas{% endblock %}

{% block content %}
{% load widget_tweaks %}
<div class="container c-borda">
    <div class="main main m-borda">
        <header class="bg-dark text-white">
            <h3>Atualizar coordenadas</h3>        
        </header>
        <form method="POST">
            {% csrf_token %}
            <!-- latitude -->
            <div class="input-group mb-3">
                <div class="input-group-prepend"><span class="input-group-text">Latitude</span></div>
                {% render_field form.latitude class+="form-control" %}
            </div>

            <!-- longitude -->
            <div class="input-group mb-3">
                <div class="input-group-prepend"><span class="input-group-text">Longitude</span></div>
                {% render_field form.longitude class+="form-control" %}
            </div>
            <div class="central">
                <input type="submit" class="btn btn-success" value="Cadastrar">
                <a href="/"><button type="button" class="btn btn-danger">Voltar</button></a>
            </div>
        </form>
    </div>
</div>
{% endblock %}