{% extends 'base.html' %}

{% block title %}Cadastro Realizado{% endblock %}

{% block content %}
<div class="container c-borda">
    <div class="main main m-borda">
    <header class="bg-dark text-white">
        <h3>Cadastro Realizado!</h3>        
    </header>
    <div class="main central">
        <h3>Anote suas informações</h3><hr>
        <h3>Nome: {{sobrevivente.nome}}</h3>
        <p>ID: {{sobrevivente.id}}</p>
        <p>Idade: {{sobrevivente.idade}}</p>
        <p>Sexo: {{sobrevivente.sexo}}</p>
        <p>latitude: {{sobrevivente.latitude}}</p>
        <p>longitude: {{sobrevivente.longitude}}</p>
        <p>infectado: {{sobrevivente.status_infectado}}</p>
        <div class="central">
            <a href="/"><button type="button" class="btn btn-danger">Voltar</button></a>
        </div>
    </div>
    </div>
</div>


{% endblock %}